#sendProduct .dropdown-menu.hidden {
	display: none;
}

#sendProduct .dropdown-menu {
	position: absolute;
	display: inline-block;
	width: 100%;
	overflow-y: auto;
	height: 200px;
}

#sendProduct #productNameDropdown .dropdown-item {
	padding: 10px;
}

#sendProduct #productNameDropdown .dropdown-item:hover {
	cursor: pointer;
}

#sendProduct #inputProductName {
	padding-left: 10px;
}
