.inactive {
	opacity: 0.5;
	pointer-events: none;
}

thead .filter-input {
	max-width: 300px;
}

.table tr {
	cursor: default;
	user-select: none;
}

.table td {
	cursor: text;
	user-select: text;
}

.tablesort tr[data-sort-method="thead"] th:not([data-sort-method="none"]) {
	cursor: pointer;
}

.tablesort tr[data-sort-method="thead"] th:not([data-sort-method="none"]):hover {
	opacity: 0.8;
}

.modal-content .radio,
.modal-content .checkbox {
	padding: 4px;
	user-select: none;
}

.modal-content label,
.modal-content .partner-information {
	padding-left: 2px;
}

.modal-content .radio label,
.modal-content .checkbox label,
.modal-content .checkbox .peer {
	margin: -2px 0 0 0;
	padding-left: 10px;
}

.modal-content label:before {
	border: 2px solid #0f9aee !important;
}

.modal-content .checkbox label:after {
	top: 7px;
	left: 2px;
	width: 10px !important;
	height: 10px !important;
	border-radius: 50%;
	font-size: 12px !important;
}

.modal-content .radio label:before,
.modal-content .radio label:after {
	bottom: 1px;
	margin-top: auto;
	margin-bottom: auto;
}

.modal-content input {
	padding-left: 8px;
}

.modal-content .radio label:after,
.modal-content .checkbox label:after {
	background-color: #0f9aee !important;
}

.modal-content .modal-header {
	padding-left: 18px;
}

form .select2-selection__arrow {
	height: 100% !important;
}

form .select2-selection__rendered {
	padding-top: 2px;
}

form .form-group {
	margin-bottom: 10px;
}

.model_stones .checkbox {
	bottom: 0;
}

.model_stones .row-total-weight {
	position: absolute;
	top: 0;
	right: -40px;
}

form .bot-row {
	height: 40px;
}

form .bot-row.mt-neg15px {
	margin-top: -15px;
}

form .bot-row .form-group,
form .bot-row .form-group .checkbox {
	position: absolute;
	right: 0;
}

form .bot-row .form-group {
	margin: 0;
	padding: 0;
}

form .bot-row .form-group .checkbox {
	padding-right: 18px;
}

.form-row span.input-group-addon {
	min-width: 44px;
}

.table-fixed {
	table-layout: fixed;
}

/* Admin Panel Side menu */
.nav-item.active > a,
.nav-item.active li.active {
	background: #d2d2d2;
}

.nav-item .dropdown-menu {
	margin-top: 0 !important;
}

.sidebar-menu .nav-item.active {
	margin-right: 8px;
}

/* Blog */
.note-editor .note-editable {
	min-height: 200px;
	max-height: 1000px;
}

/* Selling -> Payment form */
label[for="pay-method"] {
	margin-top: 0 !important;
}
