/* https://trello.com/c/ceK5wKsm/18-blog */
.blogs {
	padding: 16px;
}

.blogs-item .article-title {
	width: 100%;
	margin: 16px 0;
	padding: 0;
}

.blogs-item .blogs-image {
	margin: 0 0 16px;
}

/* https://trello.com/c/Hnox7toE/25-product-alignments */
/* List alignment */
#sandBox .element.full_width {
	height: 200px;
}

#sandBox .element.full_width .row-container {
	height: 100%;
}

#sandBox .element.full_width .row-left {
	height: 100%;
}

#sandBox .element.full_width .row-left .img-responsive {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Grid alignment */
#sandBox .element.no_full_width .row-container .row-left {
	height: 200px;
}

#sandBox .element.no_full_width .row-container .row-right {
	height: 130px;
}

#sandBox .element.no_full_width .row-container .product-content-left {
	padding: 20px;
}

#sandBox .element.no_full_width .row-left .container_item {
	position: relative;
	height: 100%;
}

#sandBox .element.no_full_width .row-left .img-responsive {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#sandBox .element.no_full_width .hover-appear {
	margin-bottom: 130px;
}

/* https://trello.com/c/wsV8ng5r/26-newsletter-mobile */
@media (max-width: 600px) {
	#widget-newsletter .newsletter .group_input {
		width: 100%;
		height: 100%;
	}

	#widget-newsletter .newsletter .form-control {
		width: 100%;
	}

	#footer .footer-content-top {
		padding: 0;
	}

	#footer .footer-content-top .container {
		padding: 0;
	}

	#footer .footer-content-top .container .footer-link-list {
		margin: 0;
		padding: 20px;
	}
}

/* https://trello.com/c/YTyf8goi/6-%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D0%B8 */
.contact-page .row {
	margin: 0;
}

.contact-page .row .col-md-12 {
	padding: 0 16px 0 0;
}

.contact-page #message {
	min-height: 150px;
	max-height: 500px;
	resize: vertical;
}

.contact-page .g-recaptcha {
	text-align: start;
}

.contact-page .right-content.social li {
	display: inline-block;
}

.contact-page .right-content.contact .fa {
	display: inline-block;
	width: 15px;
	text-align: center;
}

/* https://trello.com/c/sQ8jcrBM/17-home-page-categories */
.home-popular-collections .owl-item .hover-overlay {
	background-color: white;
	opacity: 0.7;
}

/* https://trello.com/c/cb6CMaLc/46-%D0%B1%D0%BB%D0%BE%D0%B3-%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%8F-%D1%81-%D0%B4%D1%8A%D0%BB%D0%B3%D0%BE-%D0%B8%D0%BC%D0%B5 */
.blog-page .blogs-image {
	height: 300px;
}

.blog-page .post {
	margin: 0;
}

.blog-page .blogs-image a {
	position: relative;
	height: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
}

.blog-page .blogs-image img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.blog-page .author-container {
	width: auto;
	margin-bottom: 10px;
}

.blog-page .author-container .author {
	display: inline-block;
	font-weight: bold;
	margin-right: 10px;
}

.blog-page .blogs-item .comment {
	margin: 0;
	padding: 0;
}

.blog-page .author-container .date-container {
	display: inline-block;
	width: auto;
}

.blog-page .article-title a {
	font-size: 26px;
}

.blog-page .article-title-container {
	height: 80px;
	vertical-align: top;
}

.blog-page .article-title {
	margin: 0;
}

.blog-page .blogs-item .post {
	height: 40px;
}

.blog-page .blogs-item .intro {
	display: block;
	height: 120px;
	margin-bottom: 16px;
	overflow: hidden;
}

.blog-container .lang {
	margin: 0;
	padding: 0;
}

/* https://trello.com/c/SGjOXvcD/35-homepage-mobile */
.home-slider-wrapper .camera_prev span,
.home-slider-wrapper .camera_next span {
	display: block;
	width: 100px;
	height: 100px;
	border: solid white;
	border-width: 1px 0 0 1px;
	background: none;
	transition: all 0.3s ease-in-out;
	box-shadow: -1px -1px #888888;
}

.home-slider-wrapper .camera_prev span {
	left: 50px;
	transform: rotate(-45deg);
}

.home-slider-wrapper .camera_next span {
	transform: rotate(135deg);
	right: 50px;
}

@media (max-width: 400px) {
	.home-slider-wrapper .camera_prev,
	.home-slider-wrapper .camera_next {
		opacity: 1 !important;
		margin: 0;
	}

	.home-slider-wrapper .camera_prev span,
	.home-slider-wrapper .camera_next span {
		width: 50px;
		height: 50px;
	}

	.home-slider-wrapper .camera_prev span {
		left: 0;
	}

	.home-slider-wrapper .camera_next span {
		right: 0;
	}
}

/* https://trello.com/c/jQl43NCJ/30-wish-list-cart-mobile */
.page-wishlist .wishlist-item {
	position: relative;
	height: 200px;
	border: 1px solid #ebebeb;
}

.page-wishlist .wishlist-item .image {
	display: inline-block;
	position: relative;
	width: 30%;
	height: 100%;
	overflow: hidden;
}

.page-wishlist .wishlist-item .image img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.page-wishlist .wishlist-item .link {
	display: inline-block;
	width: 30%;
	height: 100%;
	text-align: center;
	vertical-align: top;
}

.page-wishlist .wishlist-item .link p {
	height: 100%;
	margin: 0;
	padding: 25% 0 0 0;
}

.page-wishlist .wishlist-item .price {
	display: inline-block;
	width: 30%;
	height: 100%;
	text-align: center;
	vertical-align: top;
}

.page-wishlist .wishlist-item .price p {
	margin: 0;
	padding: 25% 0 0 0;
	font-size: 18px;
	font-weight: bold;
}

.page-wishlist .wishlist-item .remove {
	display: inline-block;
	width: 5%;
	height: 100%;
	text-align: center;
	vertical-align: top;
}

.page-wishlist .wishlist-item .remove p {
	margin: 150% 0 0 0;
	padding: 0;
}

.page-wishlist .wishlist-item .remove .fa-times {
	font-size: 24px;
}

/* https://trello.com/c/uWoK8eCN/55-product-view-desktop */
.view-product .alert {
	text-align: center;
	font-size: 16px;
}

/* https://trello.com/c/iVKpDXGt/54-product-view-mobile */
@media (max-width: 480px) {
	.view-product #page-title {
		margin: 0 0 25px 0;
	}

	.view-product #product .image {
		padding: 0;
	}

	.view-product #product .slide-product-image {
		margin: 0;
	}

	.view-product #product .owl-item {
		padding: 15px 0 0 0;
	}

	.view-product #product #detail-right-column {
		padding: 0;
	}

	.view-product #add-to-cart {
		width: 100% !important;
	}

	.view-product .spr-button {
		width: 100%;
	}
}

/* https://trello.com/c/L5WbFG3w/53-%D0%B1%D0%B8%D0%B6%D1%83%D1%82%D0%B0-%D0%BF%D0%BE-%D0%BF%D0%BE%D1%80%D1%8A%D1%87%D0%BA%D0%B0-ipad-view */
.catalog #options {
	margin: 0 0 20px 0;
}

.catalog .element.no_full_width .row-container {
	height: 100%;
}

/* https://trello.com/c/NXX5NfdK/51-home-page */
#home_blog .home-blog-content ul > li {
	vertical-align: top;
}

#home_blog .home-blog-content h4 > a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	line-height: 24px;
}
